.container{
    display: flex;
    flex-direction: column;
}
.mat-column-status {
    text-align: center;
}
button.mat-raised-button:hover {
   opacity: .5
  }

  .mat-card-header{
    justify-content: centre /* for center*/

}